:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

* body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  justify-content: center;
  align-content: space-around;
  justify-items: center;
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  text-align: center;
}

.navbar {
  position: fixed;  
  width: 100%;
  height: 5vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cc33ff ;
  padding: 20px;
  /* border-radius: 0% 0% 300% 300%; */
}

.navbar img {
  width: 50px;
  height: 50px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  min-width: 300px;
}

.navbar a {
  color: #ffffff;
}

.hero {
  position: relative;
  top: 5vh;
  display: flex;
  flex-direction: column;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.animation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1 {
  text-align: center;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 15rem;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-hero {
  width: 20%;
  /* max-width: 200px; */
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
}

.logo-hero img {
  width: 200%;
  height: auto;
}

.left {
  display: flex;
  justify-content: end;
}
.right {
  display: flex;
  justify-content: start;
}

.description {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  width: 80%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero p {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.container {
  width: 80%;
  min-width: 300px;
  margin-top: 10vh;
}

.description-team {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.live {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.live-description {
  font-size: 2rem;
  width: 80%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.live-description h2 {
  margin-bottom: 20px;
}

.live-description p {
  width: 80%;
  min-width: 300px;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.twitch {
  width: 80%;
  display: flex;
  justify-content: center;
}

.social-media {
  width: 80%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media a {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
}


/* Carousel players */


.card-section {
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(3, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 90%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

/* Fonts */

.sulphur-point-light {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sulphur-point-regular {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sulphur-point-bold {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.orbitron-uniquifier {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.new-amsterdam-regular {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}
